<%- include('../_layouts/adminheader') %>

<br><br>

<h2 class="page-title">Add a Category</h2>
<a href="/admin/categories" class="btn btn-primary">Kembali ke semua kategori</a>

<br><br>

<form method="post" action="/admin/categories/add-category">

  <div class="form-group">
    <label for="">Kallolo</label>
    <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Kallolo">
  </div>

  <button class="btn btn-primary">Simpan</button>

</form>

<%- include('../_layouts/adminfooter') %>
